<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<!--<h1>List of Patients</h1>-->
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            List of Patients
        </div>
        <div class="card-body">
            <form method="get" th:action="index">
                <label> Patient</label>
                <label>
                    <input type="text" name="keyword" th:value="${keyword}">
                </label>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Birth-Date</th>
                    <th>Score</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${patientsList}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.birthDate}"></td>
                    <td th:text="${p.score}"></td>
                    <td th:text="${p.ill ? 'Sick': 'Healthy'}"></td>
                    <td>
                        <a href="" class="btn btn-outline-danger"
                           th:href="${!#strings.isEmpty(keyword)} ? @{delete(id=${p.id}, keyword=${keyword}, p=${currentPage})} :@{delete(id=${p.id}, p=${currentPage})}">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="nav nav-pills">
            <li th:each="p, status:${pagesNumber}">
                <a th:class="${status.index == currentPage ? 'btn btn-primary ms-1': 'btn btn-outline-primary ms-1' }"
                   th:text="${status.index}"
                   th:href="${#strings.isEmpty(keyword)} ? @{index(p=${status.index})} : @{index(p=${status.index}, keyword=${keyword})}"
                >
                </a>
            </li>
        </ul>
        </ul>
    </div>
</div>


</body>
</html>